# Frontend (Next.js / Node)
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

# Next.js build/output
frontend/.next/
frontend/out/
frontend/build

# Testing
frontend/coverage

# Misc
frontend/.DS_Store
frontend/*.pem

# Debug logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Backend (Python / FastAPI)
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd

# Environment
backend/.env
backend/src/model/user_memory.json

# Root-level
.vscode/
.DS_Store
venv/
